@font-face {
  font-family: 'iconfont';  /* project id 571230 */
  src: url('https://at.alicdn.com/t/font_571230_dawdkd5qdo2k2o6r.eot');
  src: url('https://at.alicdn.com/t/font_571230_dawdkd5qdo2k2o6r.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_571230_dawdkd5qdo2k2o6r.woff') format('woff'),
  url('https://at.alicdn.com/t/font_571230_dawdkd5qdo2k2o6r.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_571230_dawdkd5qdo2k2o6r.svg#iconfont') format('svg');
}
#guanzhu{
	width: 100%;
	height: 1.4rem;
	background-color: #fff;
	float: left;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}
.guanzhu_top{
	height: 1.39rem;
	line-height: 1.39rem;
}
.hanbao{
	font-size: 0.54rem;
	color: #979797;
	margin-left: 0.6rem;
	float: left;
}
.gz{
	color: #000000;
	font-size: 0.46rem;
	text-align: center;
	margin-left: 4.63rem;
	float: left;
}

.swiper-container{
	width: 100%;
	height: 10.2rem;
	float: left;
	top: 1.4rem;
	overflow: hidden;
}
.swiper-container img{
	height:auto;
}

.zs_img{
	width: 100%;
	height: 9.68rem;
}
.lunbo{
	width: 3.09rem;
	height: 0.21rem;
	margin-top: 0.18rem;
	margin-left: 4.67rem;
}
.lunbo1{
	width: 0.21rem;
	height: 0.21rem;
	background-color: #C4C4C1;
	float: left;
	border-radius: 50%;
}
.lunbo2{
	margin-left: 0.27rem;
}
.lunbo3{
	background-color: #76746E;
}


.miaoshu{
	width: 100%;
	height: 3.43rem;
	background-color: #fff;
	float: left;
	margin-top: 1.4rem;
}
.miaoshu h3{
	font-size: 0.44rem;
	color: #363636;
	margin-left: 0.33rem;
	float: left;
	margin-right: 6rem;
	margin-top: 0.52rem;
}
.miaoshu h4{
	font-size: 0.35rem;
	color: #000;
	margin-left: 0.33rem;
	float: left;
	margin-right: 6rem;
	margin-top: 0.13rem;
	font-weight: normal;
	border: solid 1px #000;
}
.color{
	width: 1rem;
	height: 1rem;
	background-color: #000;
	margin-top: .5rem;
	margin-left: .5rem;
}
.tu{
	width: 100%;
	height: 9.5rem;
	
}
.tu1{
	width: 100%;
	height: 9.5rem;
	background: url("../img/ff221aeaab405e91ea23d2.jpg");
	background-size: cover;
}
.tu2{
	background: url("../img/ff22378a9f6633e5d2d.jpg");
	background-size: cover;


}
.tu3{
	background: url("../img/123f1.jpg");
	background-size: cover;


}
.tu4{
	background: url("../img/ff224edd882f953f5f7b04.jpg");
	background-size: cover;


}
.tu5{
	 background: url("../img/ff225a8f16533a4f1.jpg");
	background-size: cover;


}
.tu6{
	background: url("../img/fff22677f05294f1.jpg");
	background-size: cover;


}
.chima{
	width: 1rem;
	height: 1rem;
	border: 1px solid #000;
	margin-top: .5rem;
	margin-left: .5rem;
	font-size: 20px;
	text-align: center;
	line-height: 1rem;
	float: left;
	color: rgba(0, 0, 0, 0.72);
	font-weight: 200;
}
.hot_meiyuan{
	font-size: 0.44rem;
	color: #363636;
	margin-left: 0.33rem;
	float: left;
	margin-right: 4rem;
	margin-top: 0.53rem;
	font-weight: bold;
}
.meizhuang1{
	width: 2.04rem;
	height: 0.57rem;
	float: right;
	margin-left: 0.17rem;
	margin-top: 0.5rem;
	margin-right: 0.54rem;
}
.xq_fgx{
	width: 11.82rem;
	height: 0.03rem;
	background-color: #F6F6F6;
	float: left;
	margin-left: 0.3rem;
	margin-top: 0.53rem;
}
#color{
	width: 100%;
	height: 7.1rem;
	background-color: #fff;
	float: left;	
}
#color h3{
	color: #363636;
	font-size: 0.38rem;
	margin-left: 0.47rem;
	margin-top: 0.5rem;
}
.yanse{
	width: 11.52rem;
	height: 5.34rem;
	margin-left: 0.45rem;
	margin-top: 0.36rem;
	float: left;
}
.xq_fgx1{
	margin-top: 0.23rem;
	width: 11.82rem;
	height: 0.03rem;
	background-color: #F6F6F6;
	float: left;
	margin-left: 0.3rem;
	float: left;
}
#gaishu{
	width: 100%;
	height: 10.7rem;
	background-color: #fff;
	float: left;
	margin-bottom: 1.47rem;
}
#gaishu h3{
	color: #363636;
	font-size: 0.38rem;
	margin-left: 0.47rem;
	margin-top: 0.3rem;
	float: left;
}
.chungao{
	font-size: 0.4rem;
	color: #363636;
	float: left;
	margin-left: 0.47rem;
	margin-top: 0.2rem;
}
.xinghao{
	font-family: 'iconfont'; 
	font-size: 0.3rem;
	float: left;
	color: #363636;
	margin-left: 1.72rem;
	margin-top: 0.6rem;
}
.gongxiao{
	margin-top: 0.5rem;
	margin-left: 0.2rem;
	float: left;
}
.xianse{
	font-size: 0.4rem;
	color: #363636;
	float: left;
	margin-top: 0.2rem;
	margin-right: 5rem;
	margin-left: 2.1rem;
}
.xianse2{
	font-size: 0.4rem;
	color: #363636;
	float: left;
	font-weight: normal;
}
.dian{
	font-family: 'iconfont'; 
	color: #363636;
}
.xianse1{
	margin-left: 2.1rem;
}
.xq_fgx2{
	margin-top: 0.62rem;
}
#jiaru{
	width: 100%;
	height: 1.47rem;
	background-color: #fff;
	border-top: 0.03rem solid #ACACAC;
	float: left;
	position: relative;
	position: fixed;
	bottom: 0;
	left: 0;
}
.jiaru_left{
	width: 5.52rem;
	height: 1.47rem;
	background-color: white;
}
.ren1{
	font-family: 'iconfont'; 
	font-size: 0.65rem;
	color: #D2D2D2;
	margin-left: 0.74rem;
	float: left;
	line-height: 1.47rem;
}
.xinxin{
	width: 0.65rem;
	height: 0.65rem;
	margin-left: 1.17rem;
	margin-top: 0.42rem;
	float: left;
}
.xiaodai{
	margin-left: 1.17rem;
}
.jiaru_right{
	width: 6.9rem;
	height: 1.49rem;
	background-color: #363636;
	position: absolute;
	right: 0;
	bottom: 0;
	color: #fff;
	text-align: center;
	font-size: 0.48rem;
	letter-spacing: 0.4rem;
	line-height: 1.5rem;
	cursor: pointer;
}